button{
    height: 100%;
}
body {
  padding-top: 50px;
}

.bucket {
    padding-top: 20px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    border-right-style:solid;
    border-bottom-style:solid;
    border-left-style:solid;
}

.right-border {
    border-right-style:solid;
}

.min {
    border-top-style:solid;
    border-color: green;    
    }
.max {
    border-top-style:solid;
    border-color: red;    
    }

.spacer {
    visibility:hidden;
}

.core {
    background-color:#00FFFF;
}

.prereq {
    background-color:#FFFF00;
}

