body {
  padding-top: 50px;
}

.bucket {
    padding-top: 20px;
    border-right-style:solid;
    border-bottom-style:solid;
    border-left-style:solid;
}

.min {
    border-top-style:solid;
    border-color: green;    
    }
.max {
    border-top-style:solid;
    border-color: red;    
    }

.spacer {
    visibility:hidden;
}
